<div class="sections-nav">
  <ul>
    <li><a href="css">World</a></li>
    <li><a href="html">San Francisco</a></li>
    <li><a href="javascript">New York</a></li>
    <li><a href="ruby">Bootcamp Prep</a></li>
    <li><a href="ruby">Jumpstart</a></li>
    <li><a href="ruby">Online</a></li>
    <li><a href="ruby">Marketing</a></li>
    <li><a href="ruby">Sales</a></li>
    <li><a href="ruby">TalentMatch</a></li>
    <li><a href="ruby">Alumni</a></li>
    <li><a href="ruby">All</a></li>
  </ul>
</div>
