.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid $lightest-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;

}

.left-nav > ul > li {
  font-size: 16px;
  text-transform: uppercase;
  font-family: $sans-serif;
  margin: 10px;




}

.right-nav > ul > li {
  font-size: 16px;
  // display: block;
  padding: 5px;

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;

}

.left-nav span {

}


.right-nav i {

}
